@page "/clippings"
@using KindleClippings
@using AlbertoBizzini.Web.Shared
@inject IStringLocalizer<SharedResources> SR
@inject IStringLocalizer<BrowseClippings> L
@inject KindleClippingService KindleService
@inject ILogger<BrowseClippings> Logger

<MudBreakpointProvider OnBreakpointChanged="BreakpointChanged" />

<PageHeader L="@L" />

@if (!_loading && _clippings?.Count > 0)
{
    <MudPaper Elevation="6" class="pa-2 pb-4">
        <h3 class="mb-4">@L["FiltersAndSortingHeaderText"]</h3>

        <MudStack Row Wrap="Wrap.Wrap" AlignItems="AlignItems.Stretch" Justify="Justify.FlexStart" Spacing="3" Class="px-2">
            <MudTextField @bind-Value="_searchString"
                          Label="@L["SearchLabel", MinSearchStringLength]"
                          Immediate="true"
                          Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Search"
                          Variant="Variant.Text"
                          IconSize="Size.Medium"></MudTextField>

            <MudSelect T="string"
                       Value="@_selectedAuthor"
                       ValueChanged="OnAuthorChanged"
                       Label="@L["BookAuthorLabel"]"
                       ShrinkLabel="false"
                       Dense
                       Clearable
                       HelperText="@HowToSelectedAnotherAuthorHelperText">

                @if (FilteredAuthors.Count > 0)
                {
                    @foreach (var author in FilteredAuthors)
                    {
                        <MudSelectItem Value="author">@author</MudSelectItem>
                    }
                }
            </MudSelect>

            @if (!string.IsNullOrWhiteSpace(_selectedAuthor) && FilteredAuthorTitles.Count > 0)
            {
                <MudSelect @bind-Value="@_selectedTitle"
                           Label="@L["BookTitleLabel"]"
                           ShrinkLabel="false"
                           Dense
                           Clearable>
                    @foreach (var title in FilteredAuthorTitles)
                    {
                        <MudSelectItem Value="title">@title</MudSelectItem>
                    }
                </MudSelect>

            }

        </MudStack>

        <MudStack Row Wrap="Wrap.Wrap" AlignItems="AlignItems.Center" Justify="Justify.FlexStart" Spacing="2" Class="mt-6 px-2">

            <MudSelect T="SortOption" @bind-Value="_sortBy" Label="@L["SortByLabel"]" Dense Variant="Variant.Filled" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.TwoTone.Sort" FitContent Style="width: 12rem">
                <MudSelectItem Value="SortOption.AddedOn">
                    <MudStack Row AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                        @L["AddedOnLabel"]
                        <MudIcon Size="Size.Small" Icon="@GetIcon(SortOption.AddedOn)" />
                    </MudStack>
                </MudSelectItem>
                <MudSelectItem Value="SortOption.Author">
                    <MudStack Row AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                        @L["BookAuthorLabel"]
                        <MudIcon Size="Size.Small" Icon="@GetIcon(SortOption.Author)" />
                    </MudStack>
                </MudSelectItem>
                <MudSelectItem Value="SortOption.Title">
                    <MudStack Row AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                        @L["BookTitleLabel"]
                        <MudIcon Size="Size.Small" Icon="@GetIcon(SortOption.Title)" />
                    </MudStack>
                </MudSelectItem>
            </MudSelect>

            <MudSwitch @bind-Value="_descending" Size="Size.Small" Color="Color.Primary" UncheckedColor="Color.Inherit">@L["DescendingLabel"]</MudSwitch>

        </MudStack>

    </MudPaper>

}

@* <MudDivider class="mt-6" /> *@

<div class="mt-4 mb-2 textalign-center">
    <MudText Typo="Typo.caption" Class="opacity-lo" Align="Align.Center">
        @L.FormatWithMarkup("ShowClippingsCount", @FilteredAndSortedClippings.Count().ToString("n0"))
    </MudText>
</div>

@if (IsMobile)
{
    <MudTable T="Clipping"
              Items="FilteredAndSortedClippings"
              Loading="_loading"
              Bordered="false"
              Dense="false"
              Outlined="false"
              Breakpoint="Breakpoint.None">

        <NoRecordsContent>
            @SR["NoKindleClippingIsAvailableWarningMessage"]
        </NoRecordsContent>

        <RowTemplate>
            <MudTd>
                <KindleClippingDisplay Clipping="@context" HighlighterText="@SearchStringInternal" />
            </MudTd>
        </RowTemplate>

        <PagerContent>
            <MudTablePager />
        </PagerContent>

    </MudTable>
}
else
{
    <MudDataGrid Items="@FilteredAndSortedClippings"
                 Loading="@_loading"
                 Filterable="true"
                 MultiSelection="false"
                 QuickFilter="@_quickFilter"
                 Breakpoint="Breakpoint.None"
                 Outlined
                 SortMode="SortMode.None">

        <ToolBarContent>
        </ToolBarContent>

        <NoRecordsContent>
            @SR["NoKindleClippingIsAvailableWarningMessage"]
        </NoRecordsContent>

        <Columns>
            <TemplateColumn>
                <HeaderTemplate>
                    @L["ClippedTextLabel"]
                </HeaderTemplate>
                <CellTemplate>
                    <KindleClippingDisplay Clipping="@context.Item" HighlighterText="@SearchStringInternal" JustTheQuote />
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x => x.Book.Author" Title="@L["BookAuthorLabel"]" />
            <PropertyColumn Property="x => x.Book.Title" Title="@L["BookTitleLabel"]" />
            <PropertyColumn Property="x => x.AddedOn" Title="@L["AddedOnLabel"]" Format="d" />
        </Columns>

        <PagerContent>
            <MudDataGridPager T="Clipping" />
        </PagerContent>

    </MudDataGrid>
}

@code {
    private bool _loading = true;
    private List<Clipping>? _clippings;

    private string _searchString = string.Empty;
    private int MinSearchStringLength = 3;
    private string SearchStringInternal => !string.IsNullOrWhiteSpace(_searchString) && _searchString.Length >= MinSearchStringLength ? _searchString : string.Empty;

    private enum SortOption
    {
        AddedOn,
        Author,
        Title
    }
    private SortOption _sortBy = SortOption.AddedOn;
    private bool _descending = true;
    private string? GetIcon(SortOption sortOption) => sortOption switch
    {
        SortOption.Author => Icons.Material.TwoTone.PersonSearch,
        SortOption.Title => Icons.Material.TwoTone.MenuBook,
        SortOption.AddedOn => Icons.Material.TwoTone.CalendarMonth,
        _ => null
    };


    private IEnumerable<Clipping> FilteredAndSortedClippings
    {
        get
        {
            var result = (_clippings ?? [])
                .Where(_quickFilter);

            result = _sortBy switch
            {
                SortOption.Author => result.OrderBy(c => c.Book.Author),
                SortOption.Title => result.OrderBy(c => c.Book.Title),
                _ => result.OrderBy(c => c.AddedOn)
            };

            return _descending
                ? result.Reverse()
                : result;
        }
    }

    private List<string> FilteredAuthors => FilteredAndSortedClippings
        .Where(c => !string.IsNullOrWhiteSpace(c.Book.Author))
        .Select(c => c.Book.Author!)
        .Distinct()
        .OrderBy(a => a).ToList();

    private List<string> FilteredAuthorTitles =>
        FilteredAndSortedClippings
            .Where(c => c.Book.Author == _selectedAuthor)
            .Select(c => c.Book.Title)
            .Distinct()
            .OrderBy(b => b)
            .ToList();

    private string? _selectedAuthor;
    private string? _selectedTitle;
    private string? HowToSelectedAnotherAuthorHelperText
        => string.IsNullOrWhiteSpace(_selectedAuthor)
        ? null
        : L["HowToSelectedAnotherAuthorHelperText"];


    protected override async Task OnInitializedAsync()
    {
        var result = await KindleService.LoadAsync();
        _clippings = result.Clippings ?? [];
        _loading = false;

        if (_clippings.Count == 0)
            return;
    }

    private void OnAuthorChanged(string? author)
    {
        _selectedAuthor = author;
        _selectedTitle = null;
    }

    private Func<Clipping, bool> _quickFilter => c =>
    {
        if (!string.IsNullOrWhiteSpace(_selectedAuthor))
        {
            if (!string.Equals(c.Book.Author, _selectedAuthor, StringComparison.OrdinalIgnoreCase))
                return false;

            if (!string.IsNullOrWhiteSpace(_selectedTitle))
            {
                if (!string.Equals(c.Book.Title, _selectedTitle, StringComparison.OrdinalIgnoreCase))
                    return false;
            }
        }

        // Ricerca libera
        if (SearchStringInternal != string.Empty)
        {
            if (c.Book.Author is not null &&
                c.Book.Author.Contains(SearchStringInternal, StringComparison.OrdinalIgnoreCase))
                return true;

            if (c.Book.Title is not null &&
                c.Book.Title.Contains(SearchStringInternal, StringComparison.OrdinalIgnoreCase))
                return true;

            if (c.QuotedText is not null &&
                c.QuotedText.Contains(SearchStringInternal, StringComparison.OrdinalIgnoreCase))
                return true;

            return false;
        }

        return true;
    };

    #region Breakpoint

    private Breakpoint _breakpoint;

    private Task BreakpointChanged(Breakpoint breakpoint)
    {
        _breakpoint = breakpoint;
        return Task.CompletedTask;
    }

    private bool IsMobile =>
        _breakpoint <= Breakpoint.Sm;

    #endregion

}