@page "/clippings"
@using KindleClippings
@using AlbertoBizzini.Web.Shared
@inject IStringLocalizer<SharedResources> SR
@inject IStringLocalizer<BrowseClippings> L
@inject KindleClippingService KindleService

<PageTitle>@L["PageTitle"] - @SR["WebsiteTitle"]</PageTitle>

<MudText class="page-tile">@L["PageTitle"]</MudText>

<MudText Typo="Typo.body2" Class="pl-2 mb-4">@L["IntroductionText"]</MudText>

@if (clippings == null)
{
    <p>Caricamento...</p>
}
else
{
    <p>Totale: @clippings.Count</p>
}

@code {
    private List<Clipping>? clippings;

    protected override async Task OnInitializedAsync()
    {
        var result = await KindleService.LoadAsync();
        clippings = result.Clippings;
    }
}