@page "/"
@using AlbertoBizzini.Web.Shared
@inject NavigationManager Nav
@inject IStringLocalizer<SharedResources> SR
@inject IStringLocalizer<Home> L

<PageTitle>@L["PageTitle"] - @SR["WebsiteTitle"]</PageTitle>

<MudText Typo="Typo.body2" Class="pl-2 pt-2">
	@L["IntroductionText"]
</MudText>
<MudText Typo="Typo.caption" Class="pl-2" Color="Color.Primary">@L["IntroductionInstructionText"]</MudText>

<MudExpansionPanels MultiExpansion Class="mt-3">

	<MudExpansionPanel Expanded>

		<TitleContent>
			<MudStack Row Justify="Justify.SpaceBetween" StretchItems="StretchItems.Middle" Spacing="4" AlignItems="AlignItems.Center">
				<h3>
					@switch (_kindleClippingOfTheDayDeltaDays)
					{
						case 0:
							@L["KindleClippingOfTheDayHeaderText"]
							break;
						case -1:
							@L["KindleClippingOfYesterdayHeaderText"]
							break;
						default:
							@L["KindleClippingOfDaysAgoHeaderText", -_kindleClippingOfTheDayDeltaDays]
							break;
					}
				</h3>
				<MudToolBar Dense WrapContent="false">
					<MudIconButton Variant="Variant.Outlined" Color="Color.Primary" Icon="@Icons.Material.TwoTone.KeyboardArrowLeft" OnClick="DecreaseDeltaDays" Size="Size.Small" />
					<MudIconButton Variant="Variant.Outlined" Color="Color.Primary" Icon="@Icons.Material.TwoTone.KeyboardArrowRight" OnClick="IncreaseDeltaDays" Disabled="@(_kindleClippingOfTheDayDeltaDays == 0)" Size="Size.Small" />
				</MudToolBar>
			</MudStack>
			<MudText Typo="Typo.caption">@L["KindleClippingHeaderCaption"]</MudText>
		</TitleContent>

		<ChildContent>
			<KindleClippingOfTheDay DeltaDays="@_kindleClippingOfTheDayDeltaDays" />
		</ChildContent>
	</MudExpansionPanel>

	<MudExpansionPanel Expanded>

		<TitleContent>
			<h3>@L["LinksSectionHeaderText"]</h3>
			<MudText Typo="Typo.caption">@L["LinksSectionHeaderCaption"]</MudText>
		</TitleContent>

		<ChildContent>
			<MyLink Text="@L["MyEtsyShopLinkText"]" Icon="@Icons.Material.TwoTone.ShoppingCart" Href="https://www.etsy.com/shop/IdeeBizzesche" />
			<MyLink Text="@L["MyYouTubeChannelLinkText"]" Icon="@Icons.Custom.Brands.YouTube" Href="https://www.youtube.com/AlbertoBizzini" />
			<MyLink Text="@L["MyInstagramPageLinkText"]" Icon="@Icons.Custom.Brands.Instagram" Href="https://www.instagram.com/alberto.bizzini" />
			<MyLink Text="@L["MyPhotoAlbumsLinkText"]" Icon="@Icons.Material.TwoTone.PhotoLibrary" Href="https://weak-diver-1a1.notion.site/eb467bf86d494e53b6dee95e6e0918b8?v=3997f478b8154c8aaf049fb57031bd58" Suffix="@L["MyPhotoAlbumsSuffixText"]" />
		</ChildContent>
	</MudExpansionPanel>

	
	@* 	<MudExpansionPanel Expanded>

		<TitleContent>
			<h3>@L["MyCreationsHeaderText"]</h3>
		</TitleContent>

		<ChildContent>
			<MyLink Text="@L["ShojiLamp2026LinkText"]" Href="https://photos.app.goo.gl/SySV82e6k76xf77Z8" />
		</ChildContent>
	</MudExpansionPanel>
 *@
	<MudExpansionPanel>

		<TitleContent>
			<h3>@L["AvailableAppsSectionHeaderText"]</h3>
			<MudText Typo="Typo.caption">@L["AvailableAppsSectionHeaderCaption"]</MudText>
		</TitleContent>

		<ChildContent>
			<MudStack Row Spacing="6" Justify="Justify.FlexStart" AlignItems="AlignItems.Start" Wrap="Wrap.Wrap" Class="mt-3">

				<AppCard AppName="Patrimetria" AppLink="https://patrimetria.albertobizzini.com/">
					<MudText Typo="Typo.body1" GutterBottom>
						Posso permettermi di vivere di rendita?
					</MudText>
					<MudText Typo="Typo.body2">
						Inserisci patrimonio, entrate, spese e previsioni, simula l'evoluzione del patrimonio e stima gli intervalli di confidenza considerando inflazione e rendimenti
					</MudText>
				</AppCard>

				<AppCard AppName="Simulatore rendita B&B" AppLink="https://bnbsimulator.albertobizzini.com/">
					<MudText Typo="Typo.body1" GutterBottom>
						È redditizio investire nella realizzazione di un Bed & Breakfast?
					</MudText>
					<MudText Typo="Typo.body2">
						Inserisci costi di avvio e di gestione, calcola ROI e CAGR, quindi analizzane la sensibilità e visualizza una mappa di calore basata su ricavi e costi del primo anno
					</MudText>
				</AppCard>

				@* <AppCard AppName="Collezione treni Pierluigi Cova" AppLink="https://treni-cova.albertobizzini.com/">
					<MudText>Sei appassionato di fermodellismo?</MudText>
					<MudText>Consulta il catalogo dei modelli di treni della collezione di Pierluigi Cova. Sono disponibili per la vendita.</MudText>
				</AppCard> *@

				<AppCard AppName="FinTrack" AppLink="https://fintrack.albertobizzini.com/" OnlyItalian="false" EnrollNeeded Version="v0.1 (alpha)">
					<MudText Typo="Typo.body1" GutterBottom>
						@L["FintrackAppDescriptionFirstLine"]
					</MudText>
					<MudText Typo="Typo.body2">
						@L["FintrackAppDescriptionOtherLines"]
					</MudText>
				</AppCard>

			</MudStack>
		</ChildContent>

	</MudExpansionPanel>

</MudExpansionPanels>

@code
{
	private int _kindleClippingOfTheDayDeltaDays = 0;

	protected void DecreaseDeltaDays() => UpdateDeltaDays(-1);

	protected void IncreaseDeltaDays() => UpdateDeltaDays(+1);

	protected void UpdateDeltaDays(int delta)
	{
		_kindleClippingOfTheDayDeltaDays += delta;
		StateHasChanged();
	}

}

