@page "/"
@using AlbertoBizzini.Web.Shared
@inject NavigationManager Nav
@inject IStringLocalizer<SharedResources> SR
@inject IStringLocalizer<Home> L

<PageTitle>@L["PageTitle"] - @SR["WebsiteTitle"]</PageTitle>

<MudText Typo="Typo.caption" Class="pa-2">@L["IntroductionText"]</MudText>

<MudExpansionPanels MultiExpansion Class="mt-3">

	<MudExpansionPanel Expanded>

		<TitleContent>
			<h3>@L["LinksSectionHeaderText"]</h3>
		</TitleContent>

		<ChildContent>
			<MyLink Text="@L["MyEtsyShopLinkText"]" Icon="@Icons.Material.TwoTone.ShoppingCart" Href="https://www.etsy.com/shop/IdeeBizzesche" />
			<MyLink Text="@L["MyYouTubeChannelLinkText"]" Icon="@Icons.Custom.Brands.YouTube" Href="https://www.youtube.com/AlbertoBizzini" />
			<MyLink Text="@L["MyInstagramPageLinkText"]" Icon="@Icons.Custom.Brands.Instagram" Href="https://www.instagram.com/alberto.bizzini" />
			<MyLink Text="@L["MyPhotoAlbumsLinkText"]" Icon="@Icons.Material.TwoTone.PhotoLibrary" Href="https://weak-diver-1a1.notion.site/eb467bf86d494e53b6dee95e6e0918b8?v=3997f478b8154c8aaf049fb57031bd58" Suffix="@L["MyPhotoAlbumsSuffixText"]" />
		</ChildContent>
	</MudExpansionPanel>

	
@* 	<MudExpansionPanel Expanded>

		<TitleContent>
			<h3>@L["MyCreationsHeaderText"]</h3>
		</TitleContent>

		<ChildContent>
			<MyLink Text="@L["ShojiLamp2026LinkText"]" Href="https://photos.app.goo.gl/SySV82e6k76xf77Z8" />
		</ChildContent>
	</MudExpansionPanel>
 *@
	<MudExpansionPanel>

		<TitleContent>
			<h3>@L["AvailableAppsSectionHeaderText"]</h3>
		</TitleContent>

		<ChildContent>
			<MudStack Row Spacing="10" Justify="Justify.FlexStart" AlignItems="AlignItems.Start" Wrap="Wrap.Wrap">

				<AppCard AppName="Patrimetria" AppLink="https://patrimetria.albertobizzini.com/">
					Simulatore andamento futuro del patrimonio familiare.
				</AppCard>

				<AppCard AppName="Simulatore rendita B&B" AppLink="https://bnbsimulator.albertobizzini.com/">
					Verifica se è redditizio investire dei soldi nella realizzazione di un Bed & Breakfast
				</AppCard>

				<AppCard AppName="Collezione treni Pierluigi Cova" AppLink="https://treni-cova.albertobizzini.com/">
					<p>Sei appassionato di fermodellismo?</p>
					<p>Consulta il catalogo dei modelli di treni della collezione di Pierluigi Cova. Sono disponibili per la vendita.</p>
				</AppCard>

				<AppCard AppName="FinTrack - Finance Tracking" AppLink="https://fintrack.albertobizzini.com/" OnlyItalian="false" EnrollNeeded>
					@L["FintrackAppDescription"]
				</AppCard>

			</MudStack>
		</ChildContent>

	</MudExpansionPanel>

</MudExpansionPanels>

@code
{
}

