@using KindleClippings
@inject KindleClippingService KindleService
@inject IStringLocalizer<KindleClippingOfTheDay> L

@if (_noClippingIsAvailable)
{
	<MudAlert Severity="Severity.Warning">@L["NoClippingIsAvailableWarningMessage"]</MudAlert>
}
else
{
	<MudStack>
		<MudText HtmlTag="em">
			@if (_clipping is null)
			{
				<MudSkeleton Width="80em" />
				<MudSkeleton Width="80em" />
			}
			else
			{
				<span>
					«@_clipping.Text»
				</span>
			}
		</MudText>
		<MudStack Row Justify="Justify.SpaceBetween" StretchItems="StretchItems.Start" AlignItems="AlignItems.Center">
			<MudText Typo="Typo.caption" Align="Align.Right">
				@if (_clipping is not null)
				{
					<span>
						tratto da: <MudText Color="Color.Info" Inline>@_clipping.Book.Title</MudText>
						@if (_clipping.Book.Author is not null)
						{
							<MudText Inline="true"> (@_clipping.Book.Author)</MudText>
						}
						@if (_clipping.AddedOn is not null)
						{
							<MudDivider Class="mt-2" />
							<MudText Typo="Typo.caption" Class="opacity-med">(@L["AddedOnLabel"] @_clipping.AddedOn.Value.ToLongDateString() - @L["PositionLabel"]: @_clipping.StartLocation)</MudText>
						}
					</span>
				}
			</MudText>
		</MudStack>
		@if (ShowPagination && _clipping is not null)
		{
			<MudStack Row Justify="Justify.Center">
				<MudIconButton Variant="Variant.Outlined" Color="Color.Primary" Icon="@Icons.Material.TwoTone.KeyboardArrowLeft" OnClick="DecreaseDeltaDays" Size="Size.Small" />
				<MudIconButton Variant="Variant.Outlined" Color="Color.Primary" Icon="@Icons.Material.TwoTone.KeyboardArrowRight" OnClick="IncreaseDeltaDays" Disabled="@(DeltaDays == 0)" Size="Size.Small" />
			</MudStack>
		}
	</MudStack>

}

    
@code {
	[Parameter] public int DeltaDays { get; set; } = 0;
	[Parameter] public bool ShowPagination { get; set; } = true;
	[Parameter] public EventCallback<int> DeltaDaysChanged { get; set; } // Rimosso il Nullable?, EventCallback non è mai null in Blazor

	private Clipping? _clipping;
	private bool _noClippingIsAvailable = false;

	protected override async Task OnParametersSetAsync()
	{
		await GetClipping();
	}

	protected async Task GetClipping()
	{
		// Evita di resettare a null se il componente sta solo rinfrescando i parametri con lo stesso valore
		_clipping = null;
		_noClippingIsAvailable = false;
		StateHasChanged();

		_clipping = await KindleService.GetClippingOfTheDay(DeltaDays);

		if (_clipping is null)
			_noClippingIsAvailable = true;

		StateHasChanged();
	}

	// Cambiato il delta a favore del decremento corretto (-1 e +1)
	protected async Task DecreaseDeltaDays() => await UpdateDeltaDays(-1);

	protected async Task IncreaseDeltaDays() => await UpdateDeltaDays(+1);

	protected async Task UpdateDeltaDays(int step)
	{
		var newValue = DeltaDays + step;

		// Notifica il genitore passando il nuovo valore.
		// Il genitore aggiornerà il parametro, che scatenerà OnParametersSetAsync -> GetClipping() automaticamente.
		await DeltaDaysChanged.InvokeAsync(newValue);
	}
}
