@using KindleClippings
@inject KindleClippingService KindleService
@inject IStringLocalizer<KindleClippingOfTheDay> L

@if (_noClippingIsAvailable)
{
	<MudAlert Severity="Severity.Warning">@L["NoClippingIsAvailableWarningMessage"]</MudAlert>
}
else
{
	<MudStack>
		<MudText HtmlTag="em">
			@if (_clipping is null)
			{
				<MudSkeleton Width="80em" />
				<MudSkeleton Width="80em" />
			}
			else
			{
				<span>
					«@_clipping.Text»
				</span>
			}
		</MudText>
		<MudText Typo="Typo.caption" Align="Align.Right">
			@if (_clipping is not null)
			{
				<span>
					tratto da: <MudText Color="Color.Info" Inline>@_clipping.Book.Title</MudText>
					@if (_clipping.Book.Author is not null)
					{
						<MudText Inline="true"> (@_clipping.Book.Author)</MudText>
					}
					@if (_clipping.AddedOn is not null)
					{
						<MudDivider Class="mt-2"/>
						<MudText Typo="Typo.caption" Class="opacity-med">(@L["AddedOnLabel"] @_clipping.AddedOn.Value.ToLongDateString() - @L["PositionLabel"]: @_clipping.StartLocation)</MudText>
					}
				</span>
			}
		</MudText>
	</MudStack>

	@if (ShowPagination && _clipping is not null)
	{
		<MudToolBar Dense>
			<MudIconButton Variant="Variant.Text" Icon="@Icons.Material.TwoTone.KeyboardArrowLeft" OnClick="DecreaseDeltaDays" Size="Size.Small" />
			<MudIconButton Variant="Variant.Text" Icon="@Icons.Material.TwoTone.KeyboardArrowRight" OnClick="IncreaseDeltaDays" Disabled="@(DeltaDays == 0)" Size="Size.Small" />
		</MudToolBar>
	}
}

    
@code {
	[Parameter] public int DeltaDays { get; set; } = 0;
	[Parameter] public bool ShowPagination { get; set; } = false;

	private Clipping? _clipping;
	private bool _noClippingIsAvailable = false;

	protected override async Task OnParametersSetAsync()
	{
		await GetClipping();
	}

	protected async Task GetClipping()
	{
		_clipping = null;
		StateHasChanged();
		_clipping = await KindleService.GetClippingOfTheDay(DeltaDays);
		if (_clipping is null)
			_noClippingIsAvailable = true;
		StateHasChanged();
	}

	protected void DecreaseDeltaDays() => UpdateDeltaDays(-1);

	protected void IncreaseDeltaDays() => UpdateDeltaDays(+1);

	protected void UpdateDeltaDays(int delta)
	{
		DeltaDays += delta;
		GetClipping();
	}
}